/gre_codes/C_project/x64/Debug
/gre_codes/C_project/C_project/x64/Debug
/gre_codes/C_project/.vs/C_project/v17
/gre_codes/C_project/.vs/C_project/FileContentIndex
/gre_codes/C_project/C_project/C_project.vcxproj.user
/gre_codes/C_project/C_project/C_project.vcxproj.filters
/gre_codes/C_project/C_project/C_project.vcxproj
