/gre_codes/C_project/x64/Debug
/gre_codes/C_project/C_project/x64/Debug
/gre_codes/C_project/.vs/C_project/v17
/gre_codes/C_project/.vs/C_project/FileContentIndex
/gre_codes/C_project/C_project/C_project.vcxproj.user
/gre_codes/C_project/C_project/C_project.vcxproj.filters
/gre_codes/CPlus_project/.vs/CPlus_project/v17
/gre_codes/CPlus_project/CPlus_project/x64/Debug
/gre_codes/CPlus_project/.vs/CPlus_project/FileContentIndex
/gre_codes/CPlus_project/CPlus_project/CPlus_project.vcxproj.filters
/gre_codes/CPlus_project/CPlus_project/CPlus_project.vcxproj.user
/gre_codes/CPlus_project/x64/Debug/CPlus_project.exe
